//-section
    div(class='column-profile')
        form(class="form-profile", method='get')
            fieldset 
                div
                label(for="userFirstName") First Name: 
                div
                label(for="firstName") #{user.first_name}
                div
                label(for="userSurname") Surname: 
                div
                label(for="lastName")  #{user.last_name}
                div
                label(for="userEmail") Email: 
                div
                label(for="email") #{user.email}
        a(href='/home/' + user.email + '/all-messages')
            button Message User

section(class='card')
    div(class="card-image")
        img(src=`/profilePictures/${user.profile_photo}`, alt="Profile pictures" height="500" width="500")
        div(class="card-title")
            p(lang="mi") #{user.first_name} #{user.last_name}
    div(class="card-content")
        h2(class="card-title") 
        ul
            li
                b Email
                span=user.email