extends layout 

block content 
    title Home
    h1= title
    include nav 
    p 
    div(class='row-profile')
        legend Profile Settings
        div(class='column-profile')
           form(class="form-profile", method='get')
           fieldset
                label(for="userPicture") Picture here 
                div
                label #{firstname + " " + lastname}
                div
                label #{email}
        div(class='column-profile')
            form(class="form-profile", method='get')
                fieldset 
                    label(for="userFirstName") First Name 
                    div
                    p #{firstname}
                    div
                    label(for="userSurname") Surname 
                    p #{lastname}
                    div
                    label(for="userFirstName") Name
                    div 
                    input(type="name" id="userSurname" name="userSurname", class="form-control")
                    div
                    label(for="userFirstName") Name
                    div 
                    input(type="name" id="userSurname" name="userSurname", class="form-control")
        div(class='column-profile')
            form(class="form-profile", method='get')
                fieldset
                    label(for="userStatus") Years Active 
                    div
                    input(type="status" id="userStatus" name="userStatus", class="form-control")
                    div
                    label(for="fieldOfStudy") Field of Study 
                    div
                    input(type="field" id="fieldOfStudy" name="fieldOfStudy", class="form-control")
                    div
                    input(type="submit", value="Save")