extends layout 

block content 
    title Home
    h1= title
    include nav 
    p 
    div(class='row-profile')
        legend Profile Settings
        div(class='card-image')
           form(class="form-profile", method='get')
                fieldset
                label(for="profilePictures") Profile Picture 
                //-div
                //-input(type="file" name="profilePictures", id= "profilePictures", accept="image/*")
                //-p
                //-input(type="submit", value="Upload")
                //-div
                label #{firstname + " " + lastname}
                 if profilePictures 
                img(src=`/profilePictures/${profilePictures}`, alt="Profile pictures")
        div(class='column-profile')
            form(class="form-profile", method='get')
                fieldset 
                    label(for="userFirstName") First Name 
                    div
                    label(for="firstName")  #{firstname}
                    p
                    div
                    label(for="userSurname") Surname 
                    div 
                    label(for="lastName")  #{lastname}
                    div
                    p 
                    label(for="userEmail") Email 
                    div
                    label #{email}
        div(class='column-profile')
            form(class="form-profile", method='get')
                fieldset
                    label(for="userStatus") Years Active 
                    div
                    input(type="status" id="userStatus" name="userStatus", class="form-control")
                    div
                    label(for="fieldOfStudy") Field of Study 
                    div
                    input(type="field" id="fieldOfStudy" name="fieldOfStudy", class="form-control")
                    div
                    input(type="submit", value="Save")